.add {
    background-image: url( ../../resources/images/toolbar-folder.png ) !important;
}
.remove {
    background-image: url( ../../resources/images/toolbar-close.png ) !important;
}
.remove-small {
    background-image: url( ../../resources/images/toolbar-close-small.png ) !important;
}

.pause {
    background-image: url( ../../resources/images/toolbar-pause.png ) !important;
}

.resume {
    background-image: url( ../../resources/images/toolbar-start.png ) !important;
}

.resume-all {
    background-image: url( ../../resources/images/toolbar-start-all.png ) !important;
}

.info {
    background-image: url( ../../resources/images/toolbar-info.png ) !important;
}

.settings {
    background-image: url( ../../resources/images/settings32.png ) !important;
}

.filter {
    background-image: url( ../../resources/images/filter.png ) !important;
}

.tree-downloading {
	background-image: url( ../../resources/images/downloading.png ) !important;	
}	

.tree-all {
	background-image: url( ../../resources/images/filterall.png ) !important;	
}

.tree-paused {
	background-image: url( ../../resources/images/paused.png ) !important;	
}

.tree-completed {
	background-image: url( ../../resources/images/uploading.png ) !important;	
}

.tree-active {
	background-image: url( ../../resources/images/filteractive.png ) !important;	
}

.tree-inactive {
	background-image: url( ../../resources/images/filterinactive.png ) !important;	
}